<section class="panel col-sm-4">
    <ng-template [ngIf]="weather">
        <div class="weather-bg" [style.background-color]="bcgColor">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-cloud"></i>
                        {{city.name}}
                    </div>
                    <div class="col-xs-6">
                        <div class="degree">
                            {{weather.main.temp}}°
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="weather-category">
            <ul>
                <li class="active">
                    <h5>humidity</h5>
                    {{weather.main.humidity}}%
                </li>
                <li>
                    <h5>pressure</h5>
                    {{weather.main.pressure}} hPa
                </li>
                <li>
                    <h5>winds</h5>
                    {{weather.wind.speed}} metres/sec
                </li>
                <!--    <li>
                        <a class="btn btn-sm  btn-default" [routerLink]="['/cities/details', city.id]"><i class="fa fa-pencil"></i> </a>
                    </li>-->
            </ul>
        </footer>
        <!--{{weather}}-->
    </ng-template>
    <ng-template #elseBlock>
        <div class="panel-body">
            <p *ngIf="error">{{error}}</p>

            Loading data
        </div>
    </ng-template>
</section>